<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #searchForm="ngForm" (ngSubmit)="searchByName()">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Consulta</mat-card-title>
                </mat-card-header>

                <!-- Content -->
                <mat-card-content class="mt-20">
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="950px">
                            <mat-form-field>
                                <mat-label>Nome:</mat-label>
                                <input type="text" placeholder="Ex.: José" matInput name="searchName" [(ngModel)]="searchName"/>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>

                <!-- Actions -->
                <mat-card-actions>
                    <button mat-flat-button color="primary">
                        <mat-icon fontIcon="search"></mat-icon>
                        Pesquisar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>

<!-- Table -->
<div fxLayout="row" fxLayoutAlign="center" class="mt-20">
    <div fxLayout="column" fxFlex="1000px">
        <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Resultado</mat-card-title>
                </mat-card-header>

                <!-- Content  -->
                 <mat-card-content class="mt-20">
                    <table mat-table [dataSource]="clientList">

                        <!-- ID -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>ID</th> <!-- Column Header -->
                            <td mat-cell *matCellDef="let client">{{ client.id }}</td> <!-- Column payload -->
                        </ng-container>
                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let client">{{ client.name }}</td>
                        </ng-container>
                        <!-- CPF -->
                        <ng-container matColumnDef="cpf">
                            <th mat-header-cell *matHeaderCellDef>CPF</th>
                            <td mat-cell *matCellDef="let client">{{ client.cpf }}</td>
                        </ng-container>
                        <!-- BirthDate -->
                        <ng-container matColumnDef="birthDate">
                            <th mat-header-cell *matHeaderCellDef>Data Nascimento</th>
                            <td mat-cell *matCellDef="let client">{{ client.birthDate }}</td>
                        </ng-container>
                        <!-- E-mail -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>E-mail</th>
                            <td mat-cell *matCellDef="let client">{{ client.email }}</td>
                        </ng-container> 

                        <!-- Actions – Edit, Delete -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let client">
                                <button type="button" mat-button (click)="prepareEdit(client.id)">
                                    <mat-icon fontIcon="edit"></mat-icon>
                                    Editar
                                </button>

                                @if (!client.isDeleting) {
                                    <button type="button" mat-button (click)="prepareDelete(client)">
                                        <mat-icon fontIcon="delete"></mat-icon>
                                        Delete
                                    </button>                                
                                } @else {
                                    <button type="button" mat-button (click)="delete(client)">
                                        <mat-icon fontIcon="question_mark"></mat-icon>
                                        Confirmar
                                    </button>                                      
                                }
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
                    </table>
                 </mat-card-content>
        </mat-card>
    </div>
</div>